<div class="page-header">
  <h3>Team #<%= @team.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @team.name %></dd>

      <dt>Logo</dt>
      <dd><img src="<%= @team.logo %>" class="img-responsive"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/teams" class="btn btn-primary">
        Back
      </a>
      <a href="/teams/<%= @team.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_team/<%= @team.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Team has many fans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Fans
      </li>

      <% @team.fans.each do |fan| %>
        <li class="list-group-item">
          <a href="/fans/<%= fan.id %>">
            <%= fan.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/fans/<%= fan.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/fans/<%= fan.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_fan/<%= fan.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        
      </li>
    </ul>
  </div>
</div>

<!-- A Team has many games -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Games
      </li>

      <% @team.games.each do |game| %>
        <li class="list-group-item">
          <a href="/games/<%= game.id %>">
            <%= game.home_team_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/games/<%= game.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/games/<%= game.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_game/<%= game.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_game" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for home_team_id -->
      <div class="form-group">
        <label for="home_team_id" class="control-label">
          Home team
        </label>

        <%= select_tag(:home_team_id, options_from_collection_for_select(Team.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for spread -->
      <div class="form-group">
        <label for="spread" class="control-label">
          Spread
        </label>

        <input type="text" id="spread" name="spread" placeholder="Spread" class="form-control" value="">
      </div>

      <!-- Label and input for over_under -->
      <div class="form-group">
        <label for="over_under" class="control-label">
          Over under
        </label>

        <input type="text" id="over_under" name="over_under" placeholder="Over under" class="form-control" value="">
      </div>

      <!-- Label and input for game_date_time -->
      <div class="form-group">
        <label for="game_date_time" class="control-label">
          Game date time
        </label>

        <input type="text" id="game_date_time" name="game_date_time" placeholder="Game date time" class="form-control" value="">
      </div>

      <!-- Label and input for away_team_id -->
      <div class="form-group">
        <label for="away_team_id" class="control-label">
          Away team
        </label>

        <input type="text" id="away_team_id" name="away_team_id" placeholder="Away team" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Game
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
