<div class="page-header">
  <h3>Poll #<%= @poll.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Game</dt>
      <dd>
        <% if @poll.game.present? %>
          <a href="/games/<%= @poll.game_id %>">
            <%= @poll.game.home_team_id %>
          </a>
        <% end %>
      </dd>

      <dt>Fan</dt>
      <dd>
        <% if @poll.fan.present? %>
          <a href="/fans/<%= @poll.fan_id %>">
            <%= @poll.fan.email %>
          </a>
        <% end %>
      </dd>

      <dt>Question</dt>
      <dd><%= @poll.question %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/polls" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @poll.fan %>
        <a href="/polls/<%= @poll.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_poll/<%= @poll.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
