<div class="page-header">
  <h1>
    Games
    <a href="/games/new" class="btn btn-lg btn-success">New Game</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "games_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
  <%= f.label :away_team_id, "Away team" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :away_team_id_gteq, :class => "form-control", :placeholder => "Away team greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :away_team_id_lteq, :class => "form-control", :placeholder => "Away team less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :game_date_time, "Game date time" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='game_date_timegteqPicker'>
                  <%= f.text_field :game_date_time_gteq, :class => "form-control", :placeholder => "Game date time greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='game_date_timelteqPicker'>
                  <%= f.text_field :game_date_time_lteq, :class => "form-control", :placeholder => "Game date time less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#game_date_timegteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#game_date_timelteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#game_date_timegteqPicker').on("dp.change", function (e) {
                  $('#game_date_timelteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#game_date_timelteqPicker').on("dp.change", function (e) {
                  $('#game_date_timegteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

<div class="form-group">
  <%= f.label :over_under, "Over under" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :over_under_gteq, :class => "form-control", :placeholder => "Over under greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :over_under_lteq, :class => "form-control", :placeholder => "Over under less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :spread, "Spread" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :spread_gteq, :class => "form-control", :placeholder => "Spread greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :spread_lteq, :class => "form-control", :placeholder => "Spread less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :home_team_name_cont, "Team name contains" %>
      <%= f.text_field :home_team_name_cont, :class => "form-control", :placeholder => "Team name contains" %>
    </div>

<div class="form-group">
      <%= f.label :picks_type_cont, "Pick type contains" %>
      <%= f.text_field :picks_type_cont, :class => "form-control", :placeholder => "Pick type contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/games" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#games_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Home team</th>
        <th>Spread</th>
        <th>Over under</th>
        <th>Game date time</th>
        <th>Away team</th>
        <th>Actions</th>
      </tr>

      <% @games.each do |game| %>
      <tr>
        <td>
          <% if game.home_team.present? %>
            <a href="/teams/<%= game.home_team.id %>">
              <%= game.home_team.name %>
            </a>
          <% end %>
        </td>
        <td><%= game.spread %></td>
        <td><%= game.over_under %></td>
        <td><%= game.game_date_time %></td>
        <td><%= game.away_team_id %></td>
        <td>
          <a href="/games/<%= game.id %>" class="btn btn-primary">Show</a>
          <a href="/games/<%= game.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_game/<%= game.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @games, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
