<div class="page-header">
  <h3>Game #<%= @game.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Home team</dt>
      <dd><%= @game.home_team_id %></dd>

      <dt>Spread</dt>
      <dd><%= @game.spread %></dd>

      <dt>Over under</dt>
      <dd><%= @game.over_under %></dd>

      <dt>Game date time</dt>
      <dd><%= @game.game_date_time %></dd>

      <dt>Away team</dt>
      <dd><%= @game.away_team_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/games" class="btn btn-primary">
        Back
      </a>
      <a href="/games/<%= @game.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_game/<%= @game.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Game has many picks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Picks
      </li>

      <% @game.picks.each do |pick| %>
        <li class="list-group-item">
          <a href="/picks/<%= pick.id %>">
            <%= pick.type %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/picks/<%= pick.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/picks/<%= pick.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_pick/<%= pick.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_pick" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for type -->
      <div class="form-group">
        <label for="type" class="control-label">
          Type
        </label>

        <input type="text" id="type" name="type" placeholder="Type" class="form-control" value="">
      </div>

      <!-- Label and input for game_id -->
      <input type="hidden" name="game_id" value="<%= @game.id %>">

      <!-- Label and input for fan_id -->
      <input type="hidden" name="fan_id" value="<%= current_user.id %>">

      <!-- Label and input for over_under_pick -->
      <div class="checkbox">
        <label for="over_under_pick">
          <input type="checkbox" id="over_under_pick" name="over_under_pick" value="1" <%= "checked" if @pick.over_under_pick %>>
          Over under pick
        </label>
      </div>

      <!-- Label and input for spread_pick -->
      <div class="checkbox">
        <label for="spread_pick">
          <input type="checkbox" id="spread_pick" name="spread_pick" value="1" <%= "checked" if @pick.spread_pick %>>
          Spread pick
        </label>
      </div>

      <button class="btn btn-block btn-success">
        Create Pick
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Game has many polls -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Polls
      </li>

      <% @game.polls.each do |poll| %>
        <li class="list-group-item">
          <a href="/polls/<%= poll.id %>">
            <%= poll.game_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/polls/<%= poll.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/polls/<%= poll.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_poll/<%= poll.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_poll" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for game_id -->
      <input type="hidden" name="game_id" value="<%= @game.id %>">

      <!-- Label and input for fan_id -->
      <input type="hidden" name="fan_id" value="<%= current_user.id %>">

      <!-- Label and input for question -->
      <div class="form-group">
        <label for="question" class="control-label">
          Question
        </label>

        <textarea id="question" name="question" placeholder="Question" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-success">
        Create Poll
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
