<div class="page-header">
  <h3>Game #<%= @game.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Home team</dt>
      <dd><%= @game.home_team_id %></dd>

      <dt>Spread</dt>
      <dd><%= @game.spread %></dd>

      <dt>Over under</dt>
      <dd><%= @game.over_under %></dd>

      <dt>Game date time</dt>
      <dd><%= @game.game_date_time %></dd>

      <dt>Away team</dt>
      <dd><%= @game.away_team_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/games" class="btn btn-primary">
        Back
      </a>
      <a href="/games/<%= @game.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_game/<%= @game.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Game has many picks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Picks
      </li>

      <% @game.picks.each do |pick| %>
        <li class="list-group-item">
          <a href="/picks/<%= pick.id %>">
            <%= pick.type %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/picks/<%= pick.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/picks/<%= pick.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_pick/<%= pick.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Game has many polls -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Polls
      </li>

      <% @game.polls.each do |poll| %>
        <li class="list-group-item">
          <a href="/polls/<%= poll.id %>">
            <%= poll.game_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/polls/<%= poll.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/polls/<%= poll.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_poll/<%= poll.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
