<div class="page-header">
  <h3>Fan #<%= @fan.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @fan.email %></dd>

      <dt>Password</dt>
      <dd><%= @fan.password %></dd>

      <dt>Primary team</dt>
      <dd><%= @fan.primary_team_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/fans" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Fan has many picks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Picks
      </li>

      <% @fan.picks.each do |pick| %>
        <li class="list-group-item">
          <a href="/picks/<%= pick.id %>">
            <%= pick.type %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/picks/<%= pick.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == pick.fan %>
              <a href="/picks/<%= pick.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_pick/<%= pick.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Fan has many polls -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Polls
      </li>

      <% @fan.polls.each do |poll| %>
        <li class="list-group-item">
          <a href="/polls/<%= poll.id %>">
            <%= poll.game_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/polls/<%= poll.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == poll.fan %>
              <a href="/polls/<%= poll.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_poll/<%= poll.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
