<div class="page-header">
  <h1>
    Picks
    <a href="/picks/new" class="btn btn-lg btn-success">New Pick</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "picks_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :type_cont, "Type contains" %>
    <%= f.text_field :type_cont, :class => "form-control", :placeholder => "Type contains" %>
  </div>

<div class="form-group">
    <%= f.label :spread_pick_eq, "Spread pick" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :spread_pick_eq, "1", checked: ((params[:q] && params[:q][:spread_pick_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :spread_pick_eq, "0", checked: ((params[:q] && params[:q][:spread_pick_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :spread_pick_eq, ""%> Either
      </label>
    </div>
  </div>

<div class="form-group">
    <%= f.label :over_under_pick_eq, "Over under pick" %>
    <div>
      <label class="radio-inline">
        <%= f.radio_button :over_under_pick_eq, "1", checked: ((params[:q] && params[:q][:over_under_pick_eq]) == "1" ? "checked" : "") %> Yes
      </label>
      <label class="radio-inline">
        <%= f.radio_button :over_under_pick_eq, "0", checked: ((params[:q] && params[:q][:over_under_pick_eq]) == "0" ? "checked" : "")%> No
      </label>
      <label class="radio-inline">
        <%= f.radio_button :over_under_pick_eq, ""%> Either
      </label>
    </div>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :fan_email_cont, "Fan email contains" %>
      <%= f.text_field :fan_email_cont, :class => "form-control", :placeholder => "Fan email contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/picks" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#picks_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Type</th>
        <th>Game</th>
        <th>Fan</th>
        <th>Over under pick</th>
        <th>Spread pick</th>
        <th>Actions</th>
      </tr>

      <% @picks.each do |pick| %>
      <tr>
        <td><%= pick.type %></td>
        <td>
          <% if pick.game.present? %>
            <a href="/games/<%= pick.game.id %>">
              <%= pick.game.home_team_id %>
            </a>
          <% end %>
        </td>
        <td>
          <% if pick.fan.present? %>
            <a href="/fans/<%= pick.fan.id %>">
              <%= pick.fan.email %>
            </a>
          <% end %>
        </td>
        <td><%= pick.over_under_pick %></td>
        <td><%= pick.spread_pick %></td>
        <td>
          <a href="/picks/<%= pick.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == pick.fan %>
            <a href="/picks/<%= pick.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_pick/<%= pick.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @picks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
