<!-- Validation failure messages -->
<% if @pick.errors.any? %>
  <% @pick.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Pick</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_pick" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for type -->
      <div class="form-group">
        <label for="type" class="control-label">
          Type
        </label>

        <input type="text" id="type" name="type" placeholder="Type" class="form-control" value="<%= @pick.type %>">
      </div>

      <!-- Label and input for game_id -->
      <div class="form-group">
        <label for="game_id" class="control-label">
          Game
        </label>

        <%= select_tag(:game_id, options_from_collection_for_select(Game.all, :id, :home_team_id, @pick.game_id), :class => "form-control") %>
      </div>

      <!-- Label and input for fan_id -->
      <div class="form-group">
        <label for="fan_id" class="control-label">
          Fan
        </label>

        <input type="text" id="fan_id" name="fan_id" placeholder="Fan" class="form-control" value="<%= @pick.fan_id %>">
      </div>

      <!-- Label and input for over_under_pick -->
      <div class="checkbox">
        <label for="over_under_pick">
          <input type="checkbox" id="over_under_pick" name="over_under_pick" value="1" <%= "checked" if @pick.over_under_pick %>>
          Over under pick
        </label>
      </div>

      <!-- Label and input for spread_pick -->
      <div class="checkbox">
        <label for="spread_pick">
          <input type="checkbox" id="spread_pick" name="spread_pick" value="1" <%= "checked" if @pick.spread_pick %>>
          Spread pick
        </label>
      </div>

      <button class="btn btn-success">
        Create Pick
      </button>
      or
      <a href="/picks">Cancel</a>
    </form>
  </div>
</div>
